In [1]:
import pandas as pd
import csv
import os
import json
import numpy as np
from citipy import citipy
import requests
import matplotlib.pyplot as plt

In [2]:
results_df = pd.read_csv("../results.csv")
results_df

,Unnamed: 0,City,ID,Latitude,Longitude,Max Temp,Humidity,Wind Speed,Cloudiness
0,0,Mataura,6201424,-46.1927,168.8643,68.00,77,3.00,48
1,1,Kapaa,5848280,22.0752,-159.3190,77.00,78,9.22,90
2,2,Aswān,359792,24.0934,32.9070,56.75,46,10.56,44
3,3,‘Ewa Beach,5855051,21.3156,-158.0072,78.80,65,5.75,1
4,4,Punta Arenas,3874787,-53.1500,-70.9167,57.20,67,10.36,0
...,...,...,...,...,...,...,...,...,...
698,698,Karpogory,552256,64.0019,44.4451,-10.95,89,4.05,100
699,699,Kochevo,546845,59.5994,54.3125,8.04,95,9.53,100
700,700,Salta,3838233,-24.7859,-65.4117,78.80,57,6.91,40
701,701,Rawson,3839307,-43.3002,-65.1023,78.80,53,17.27,75
702,702,Zhangye,1785036,38.9342,100.4517,20.98,80,6.35,100

In [3]:
results_df_filtered = results_df[(results_df["Max Temp"] <80) & (results_df["Max Temp"] >70) & (results_df["Wind Speed"] <10) & (results_df["Cloudiness"] == 0)]
results_df_filtered

,Unnamed: 0,City,ID,Latitude,Longitude,Max Temp,Humidity,Wind Speed,Cloudiness
49,49,Salalah,286621,17.0151,54.0924,77.00,13,9.22,0
93,93,Makkah al Mukarramah,104515,21.4267,39.8261,73.24,77,4.14,0
161,161,Oussouye,2246901,12.4850,-16.5469,78.80,61,2.30,0
188,188,Yenagoa,2318123,4.9247,6.2642,76.86,86,6.55,0
250,250,Arlit,2447513,18.7369,7.3853,72.36,20,7.83,0
289,289,Keïta,2442478,14.7551,5.7749,75.20,19,2.30,0
298,298,Machilipatnam,1264637,16.1667,81.1333,72.41,85,2.59,0
303,303,San Quintín,3984997,30.4833,-115.9500,71.02,30,6.93,0
326,326,Guerrero Negro,4021858,27.9769,-114.0611,76.33,17,5.35,0
365,365,Recreio,3451750,-21.5250,-42.4692,76.33,90,5.30,0
407,407,Caravelas,3466980,-17.7125,-39.2481,79.16,75,8.59,0
411,411,KwaDukuza,952734,-29.3282,31.2895,78.80,78,9.22,0
622,622,Gorom-Gorom,2360372,14.4439,-0.2361,75.13,17,8.19,0
660,660,Mattru,2409215,7.6244,-11.8332,76.93,86,4.32,0

In [4]:
hotel_df=results_df_filtered[["City", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df

                     City  Latitude  Longitude Hotel Name
49                Salalah   17.0151    54.0924
93   Makkah al Mukarramah   21.4267    39.8261
161              Oussouye   12.4850   -16.5469
188               Yenagoa    4.9247     6.2642
250                 Arlit   18.7369     7.3853
289                 Keïta   14.7551     5.7749
298         Machilipatnam   16.1667    81.1333
303           San Quintín   30.4833  -115.9500
326        Guerrero Negro   27.9769  -114.0611
365               Recreio  -21.5250   -42.4692
407             Caravelas  -17.7125   -39.2481
411             KwaDukuza  -29.3282    31.2895
622           Gorom-Gorom   14.4439    -0.2361
660                Mattru    7.6244   -11.8332

In [5]:
os.chdir(r"C:\Users\Yanwho\OneDrive\Documents\python-api-challenge")

In [6]:
from config import google_key

In [7]:
# lat = results_df_filtered["Latitude"]
# long = results_df_filtered["Longitude"]
# lat_long = zip(lat,long)
# coordinates=list(lat_long)
# locations = []

In [8]:
# understaning index,row within a loop - 
# this is needed here because we need to grab the first hotel return from the google api and populate
# the hotel_df and indexing that dataframe will be easier with "index" within the loop
for index,row in hotel_df.iterrows():
    lat=row["Latitude"]
    lng=row["Longitude"]
    name_address=requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json?", params={
            "location": f"{lat},{lng}",
            "radius": 1000,
            "types": "lodging",
            "key": google_key
            })
    name_address=name_address.json()
    try:
        
        hotel_df.loc[index,"Hotel Name"]=name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("missing field - skipping")

missing field - skipping
missing field - skipping
missing field - skipping
missing field - skipping
missing field - skipping

In [9]:
hotel_df

,City,Latitude,Longitude,Hotel Name
49,Salalah,17.0151,54.0924,City Hotel
93,Makkah al Mukarramah,21.4267,39.8261,Mövenpick Hotel And Residences Hajar Tower Makkah
161,Oussouye,12.4850,-16.5469,Auberge du Routard
188,Yenagoa,4.9247,6.2642,Hotel De Glory-Land
250,Arlit,18.7369,7.3853,Case de Passage De la Prefecture
289,Keïta,14.7551,5.7749,
298,Machilipatnam,16.1667,81.1333,Centralized Govt. Hostel
303,San Quintín,30.4833,-115.9500,
326,Guerrero Negro,27.9769,-114.0611,
365,Recreio,-21.5250,-42.4692,Hotel Recreio
407,Caravelas,-17.7125,-39.2481,
411,KwaDukuza,-29.3282,31.2895,Northlands Park
622,Gorom-Gorom,14.4439,-0.2361,Mairie de Rambo
660,Mattru,7.6244,-11.8332,